@import "base/fonts";

// adjustment variables
$container-width    : 1024px;
$footer-height      : 70px;
$body-font          : 'SegoeWP';

//colors
$green: #79b260;
$grey: #424242;
$word-grey: #6d6d6d;

// base
@import "base/mixins";
@import "base/normalize";
@import "base/adjustment";

//components
// @import "components/modals";
@import "components/buttons";

//layout
 @import "layout/header";
// @import "layout/about";
// @import "layout/advant";
// @import "layout/view-more";
// @import "layout/footer";

