@font-face {
	font-family: 'SegoeUIRegular';
	src: url('../fonts/SegoeUIRegular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'Segoe WP N';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/SegoeWPN.woff') format('woff');
}

@font-face {
  font-family: 'SegoeWP';
  src: url('../fonts/SegoeWP.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SegoeWP-light';
  src: url('../fonts/SegoeWP.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaLTStd-Light';
  src: url('../fonts/HelveticaLTStd-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaLTStd-Roman';
  src:url('../fonts/HelveticaLTStd-Roman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



// MIXINS

//@mixin helvetica($style: regular) {
//	font-family: 'HelveticaNeue';
//
//	@if $style==bold {
//		font-family: 'HelveticaNeue-Bold';
//	}
//
//	@if $style==lightbold {
//		font-family: 'HelveticaNeue-BoldItalic';
//	}
//}
